
* {
  color: crimson;
  font-family: Arial;
}

#firstline {
  text-align: center;
}

hr {
    height: 1px;
    border: none;
    margin: 1em 0;
    padding: 0;
    color: crimson;
    background-color: crimson;
}
