
* {
  color: #000000;
  font-family: "Helvetica", "Arial", Sans-Serif;
  background-color: #ffffff;
}

header {
  margin: 0 1.5% 24px 1.5%;
}

.topnav {
  margin-top: 40px;
  margin-left: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 13px;
}

#li1:hover {
  color: #D5B4F2;
}

#li2:hover {
  color: #D5B4F2;
}

#li3:hover {
  color: #D5B4F2;
}

.firstlinediv {
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
  font-family: "Palatino Linotype", "Times New Roman", Serif;
  text-align: left;
  font-size: 40px;
}

#firstline{
  font-family: "Palatino Linotype", "Times New Roman", Serif;
  text-align: left;
  font-size: 40px;
}

.subtitlediv {
  position: absolute;
  margin-left: 100px;
  margin-top: 130px;
  text-align: left;
  font-size: 13px;
  float: left;
}
  
.baseddiv {
  position: absolute;
  margin-left: 190px;
  margin-top: 130px;
  font-size: 13px;
  float: right;
}

/*#subtitle: after{
  content: "";
  display:block;
  width: 100px;
  height: 1px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
}*/

.about {
  width: 400px;
  clear: both;
  margin-top: : 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-size: 13px;
}

/*hr {
    background-color: #7D9052;
    color:#7D9052;
    width: 15%;
    clear: left;
}
  
.border {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 4em;
}


.button {
  cursor: pointer;
  background-color: #f7f6f6;
  border-style: solid;
  border-color: #D5B4F2;
  text-align: center;
  width: 100px;
  heigth: 100px;
}

.button:hover {
  color: #D5B4F2;
}
*/

.navbar {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-size: 13px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  display: inline;
}

.navbar a:hover {
  color: #D5B4F2;
}

#contacttitle {
  margin: 20px;
}
