
* {
  color: black;
  font-family: "Futura";
  background-color: #f7f6f6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#li1:hover {
  color: #D5B4F2;
}

#li2:hover {
  color: #D5B4F2;
}

#li3:hover {
  color: #D5B4F2;
}

.active {
  background-color: #F2DF37;
  border: 1px;
  border-color: black;
}


#firstline {
  text-align: center;
  font-size: 30px;
}

header {
  text-align: center;
}

p {
  font-size: 15px;
}

hr {
    height: 1px;
    border: none;
    margin: 1em 0;
    padding: 0;
    color: black;
    background-color: black;
}

.border {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 4em;
}

#one, #two, #three {
  width: 30%;
  float: left;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.flex-item {
    width: 100px;
    height: 200px;
}

header {
  margin: 0 1.5% 24px 1.5%;
}

.button {
  cursor: pointer;
  background-color: #f7f6f6;
  border-style: solid;
  border-color: black;
  text-align: center;
  width: 100px;
  heigth: 100px;
}

.button:hover {
  background-color: black;
  color: white;
}

#about {
  width: 30%;
  clear: both;
  padding-top: 20px;
  text-align: center;
}

.navbar {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
}
